<ng-template #containerDefaultTemplate let-content="data">
    <div class="DefaultContainer">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
    </div>
</ng-template>

<ng-template #contentTemplate>
    <div #scrollableView
         class="ScrollableContainer"
         [class.WithoutScroll]="!useOwnScroll || hiddenScroll"
         [class.DisableScroll]="disableScroll"
         (scroll)="onScroll()">
        <div class="Container-with-holder"
             [style.width.px]="scrollWidth"
             [style.height.px]="scrollHeight">
        </div>
        <ng-content></ng-content>
    </div>
</ng-template>


<ng-container [ngTemplateOutlet]="containerTemplate || containerDefaultTemplate"
              [ngTemplateOutletContext]="{data: contentTemplate}">
</ng-container>