:host {
    display: flex;
}

.DefaultContainer {
    overflow: hidden;
    display: flex;
    flex-grow: 1;
}

.ScrollableContainer {
    position: relative;
    overflow: auto;
    display: flex;
    flex-grow: 1;
}

.ScrollableContainer.WithoutScroll {
    margin-right: -15px;
    margin-bottom: -15px;
}

.ScrollableContainer.DisableScroll {
    overflow: hidden;
}

.Container-with-holder {
    position: absolute;
}
