:host {
  display: flex;
  flex-grow: 1;
}

.NikoNiko {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.NikoNiko-teammates {
  display: flex;
  flex-direction: column;
}

.NikoNiko-teammates-width-holder {
  flex-shrink: 0;
}

.NikoNiko-container {
  position: absolute;
}

.NikoNiko-sheet {
  flex-grow: 1;
}

.NikoNiko-sheet-container {
  display: flex;
  flex-grow: 1;
  position: absolute;
}

.NikoNiko-dates {
  flex-grow: 1;
}

.NikoNiko-dates-container {
  display: flex;
  position: absolute;
  bottom: 0;
}

.NikoNiko-horizontal-scroll {
    height: 50px;
    width: 100%;
    background-color: red;
}

.CustomContainer {
  overflow: hidden;
  border: 2px solid red;
  display: flex;
  flex-grow: 1;
}